.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding: 0px;
  background: black;
  min-height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.App h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
  margin-top: 20px;
}

.logo {
  width: 500px;
  margin-top: 50px;
}

.btn {
  background: linear-gradient(160deg, #1de9b6, #1f51ff);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 12px 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 160px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(220, 220, 220, 0.3);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background: linear-gradient(160deg, #1de9b6, #1f51ff);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
}

/* MEDIA */
/* Media query untuk tablet dan smartphone */
@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .App h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .App-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  .logo {
    width: 300px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .btn {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    font-size: 14px;
  }
}
